p  { /* On met tous les texte de la page en couleur blanche*/
	color: white;
}

/*SECTION 1*/
#section_accueil {
	display: inline-block; /*On colle la section au header */
	width: 100%;
	height: 100vh;
	background-image: url("../images/image_robot_accueil.jpg");
	background-blend-mode: hard-light;
	background-attachment: fixed;
	background-position: center; /* pour afficher toute l'image à l'écran*/
	background-size: cover; /* pour redimensionner l'image entière */
	text-align: center;
}


#titre_image_accueil {
	font-size: 70px;
	color: white;
	margin-bottom: 30%;
	text-shadow: 0 0 2px #000000;
}

/* TODO
- mettre couleur sur mot importants
- mettre image
*/
