.section {
    padding: 40px;
}

.section h1 {
    text-align: center;
    margin-bottom: 70px;
}

.membre1, .membre2, .membre3 {
    display: inline-block;
    padding: 20px;
    width: 26%;
    border: 3px solid #2980b9;
    border-radius: 15px;
    margin-left: 60px;
    margin-bottom: 80px;
}

.membre1 {
    float: left;
}
.membre2 {
    float: left;
}
.membre3 {
    float: left;
}

.image_montreuil {
    margin-top: 80px;
}

.image_montreuil img:nth-child(1){
    display: inline-block;
    float: left;
    margin-left: 50px;
    height: 200px;
    margin-top: 160px;
    margin-left: 200px;
}

.image_montreuil img:nth-child(2){
    display: inline-block;
    float: right;
    margin-right: 50px;
    height: 480px;
    line-height: 400px;
    margin-right: 100px;
}
