.section {
    display: inline-block;
    padding-left: 40px;
    font-size: 20px;
    background-color: #FAFAFA;
    color: #2980b9;
    padding-bottom: 30px;
}

.section a {
    color: #2980b9;
}

#section1 {
    display: inline-block;
    float: left;
    position: fixed;
    width: 25%;
    padding: 20px;
    border: 2px solid #3498db;
    border-radius: 10px;
    color: #3498db;
}

#section1 a {
    color: #3498db;
}

#section1 a:hover {
    color: #2980b9;
}

#section2 {
    display: inline-block;
    float: right;
    width: 75%;
}

.prob {
    text-align: center;
}

.texte {
	padding-left: 120px;
	padding-right: 40px;
}

.texte_synthèse {
	padding-left: 20px;
	padding-right: 50px;
}

.lettre {
	font-size: 50px;
}

.mot_important {
    font-weight: bold;
}

.type_robot {
    width: 200px;
    margin-left: 90px;
}

.image_robot {
    margin-left: 380px;
}

.image_robot figcaption {
    font-style: italic;
}

.paragraphe {
	margin-top: 20px;
    text-indent: 1em;
}

.remonter_haut {
    display: inline-block;
    float: right;
    position: sticky;
    top: 600px;
    margin-top: 900px;
}

.remonter_haut img {
    width: 40px;
    height: 50px;
}

.remonter_haut:hover {
    cursor: pointer;
}
