body, html {
	padding: 0;
	margin: 0;
	font-family: Helvetica;
}

a { /* On désouligne les liens */
	text-decoration: none;
}

/*HEADER */
header {
	font-size: 30px;
	height: 100px;
	line-height: 100px;/* hauteur du header*/
	width: 100%;
	display: inline-block;  /*On colle le header au haut de la page */
	background-color: #168DF5;
}

#titre_logo {
	display: inline-block;
	margin-left: 30px;
	margin-top: 14px;
	line-height: 15px;
	cursor: pointer;
}

#logo {
	float: left;
	width: 80px;
}

#logo:hover {
	animation: secousse  .3s infinite;
}

@keyframes secousse {  /* Animation qui permet de "secouer" le logo */
	0% {
		transform: translateX(-1px);
		transform: rotate(-5deg);
	}
	50% {
		transform: translateX(1px);
		transform: rotate(5deg);
	}
	100% {
		transform: translateX(-1px);
		transform: rotate(-5deg);
	}
}

#titre {
	float: left;
	margin-left: 15px;
	margin-top: 31px;
	text-transform: uppercase;
	color: #ecf0f1;
	font-weight: bold;
	text-shadow: 0 0 2px #000000;
}

#titre:hover {
	color: white;
}

/*NAVIGATION */
#menu {
	display: inline-block;
	float: right;
	margin-right: 3%;
}

#menu a {
	padding: 10px;
	padding-bottom: 30px;
	position: relative;
	font-size: 25px;
	color: #ecf0f1 ;
}

#menu a:before {
	content: '';
	position: absolute;
	border-bottom: 3px solid white;
	width: 100%;
	left: 0;
	bottom: 0;
	overflow:hidden;
	transform: scaleX(0);
	transition: transform .2s ease-in-out;
}

#menu a:hover:before {
	transform-origin: bottom center;
	transform: scaleX(1);
}

#menu a:hover { /* Changement de couleur quand on survol le lien */
	color: white;
}

/*FOOTER*/
footer {
	display: inline-block;
	height: 100px;
	width: 100%;
	line-height: 50px;
	font-size: 22px;
    color: white;
	background-color:  #168DF5;
	text-align: center;
}
